{%- set OS = clientConfig.clientConfig.get('OS') -%}
{%- set boot = clientConfig.clientConfig.get('boot') -%}

{%- if boot.useSerialConsole -%}
{%- set serialConsoleString = 'console=tty0 console=ttyS' + ((boot.serialConsolePort-1)|string) + ',' + (boot.serialConsolePortSpeed|string) + 'n8' -%} 
{%- else -%}
{%- set serialConsoleString = '' -%} 
{%- endif -%}


{%- if OS.class == 'el' -%}
  {%- set ksString = appRequest.serverScheme + '://' + appRequest.serverHost + '/app/ks.cfg?clientHost=' + appRequest.clientHost -%}
  {%- set kernelLine = 'kernel ' + appRequest.serverScheme + '://' + appRequest.serverHost + '/repo/' + OS.name + '/' + OS.ver + '/BaseOS/' + OS.arch + '/os/images/pxeboot/vmlinuz BOOTIF=01-${netX/mac}  ks=' + ksString + ' inst.sshd ' + serialConsoleString + 'inst.noverifyssl initrd=initrd.img' -%}
  {%- set initrdLine = 'initrd ' + appRequest.serverScheme + '://' + appRequest.serverHost + '/repo/' + OS.name + '/' + OS.ver + '/BaseOS/' + OS.arch + '/os/images/pxeboot/initrd.img' -%}

{%- elif OS.class == 'debian' %}
  {%- set preseedString = appRequest.serverScheme + '://' + appRequest.serverHost + '/app/preseed.cfg?clientHost=' +  appRequest.clientHost -%}
  {%- set kernelLine = 'kernel ' + appRequest.serverScheme + '://' + appRequest.serverHost + '/repo/' + OS.name + '/debinst/' + OS.installerVer + '/' + OS.arch + '/linux console=tty0 vga=788 auto-install/enable=true priority=critical netcfg/choose_interface=auto url=' + preseedString + ' DEBCONF_DEBUG=developer ' + serialConsoleString + ' initrd=initrd.gz' + ' BOOTIF=01-${netX/mac}' -%}
  {%- set initrdLine = 'initrd ' + appRequest.serverScheme + '://' + appRequest.serverHost + '/repo/' + OS.name + '/debinst/' + OS.installerVer + '/' + OS.arch + '/initrd.gz' -%}
{%- endif -%}
#!ipxe
echo '{{kernelLine}}'
echo '{{initrdLine}}'
{{kernelLine}}
{{initrdLine}}
boot
