{%- set OS = clientConfig.clientConfig.get('OS') -%}
{%- set storage = clientConfig.clientConfig.get('storage') -%}
{%- set locales = clientConfig.clientConfig.get('locales') -%}
{%- set auth = clientConfig.clientConfig.get('auth') -%}
#_preseed_V1

# non-free firmwares in installer
base-config     apt-setup/non-free      boolean true
# load firmware
d-i hw-detect/load_firmware boolean true
hw-detect hw-detect/load_firmware boolean true

# early commands
d-i preseed/early_command string wget -O- \
   {{ appRequest.serverScheme }}://{{ appRequest.serverHost }}/app/preseed-early_command?clientHost={{ appRequest.clientHost }} | \
   /bin/sh -s

# unsigned repos
d-i debian-installer/allow_unauthenticated_https boolean true
d-i debian-installer/allow_unauthenticated boolean true

# locales
d-i debian-installer/locale string {{ locales.lang }}
d-i console-setup/ask_detect boolean false

# keyboard
d-i keyboard-configuration/xkb-keymap select {{ locales.keyb }}
d-i keyboard-configuration/toggle select No toggling
d-i keyboard-configuration/layoutcode string {{ locales.keyb }}
d-i keyboard-configuration/variantcode string

# network
d-i netcfg/choose_interface select auto
#d-i netcfg/disable_autoconfig boolean true
#d-i netcfg/wireless_wep string
d-i netcfg/dhcp_timeout string 60
d-i netcfg/link_wait_timeout string 60
d-i netcfg/dhcpv6_timeout string 1

# ntp
d-i time/zone string {{ locales.timezone }}
d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean false

{% include storage.class + '.preseed.main.j2' %}

# root password
d-i passwd/root-login boolean true
d-i passwd/root-password-crypted password {{ auth.initialPwHash }}
d-i passwd/make-user boolean false

# mirror setup for base install and tasksel and pkgsel
#d-i mirror/suite select <suite>
d-i mirror/codename string {{ OS.ver }}

d-i mirror/protocol string {{ appRequest.serverScheme }}
d-i mirror/country string manual
d-i mirror/http/hostname string {{ appRequest.serverHost }}
d-i mirror/http/directory string /repo/debian/debinst
d-i mirror/http/proxy string
d-i mirror/https/hostname string {{ appRequest.serverHost }}
d-i mirror/https/directory string /repo/debian/debinst
d-i mirror/https/proxy string

# apt setup  
d-i apt-setup/mirror/error string Ignore
d-i apt-setup/use_mirror boolean true

d-i apt-setup/main boolean true
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/source boolean false

d-i apt-setup/services-select none
d-i apt-setup/security_host string

# tasksel 
tasksel tasksel/first multiselect standard

# pkgsel
#d-i pkgsel/include string ssh wget cryptsetup lvm2 debconf-utils
d-i pkgsel/include string openssh-server openssh-client wget cryptsetup lvm2

#pkgsel /pkgsel/install-recommends boolean false

# do not take part in the popularity contest without internet access
popularity-contest popularity-contest/participate boolean false

# boot loader settings (grub2)
d-i grub-installer/grub2_instead_of_grub_legacy boolean true
d-i grub-installer/bootdev string default

d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false

d-i grub-installer/force-efi-extra-removable boolean true

d-i debian-installer/add-kernel-opts string 

# unatteded reboot
d-i finish-install/reboot_in_progress note

# late commands
d-i preseed/late_command string wget -O- \
   {{ appRequest.serverScheme }}://{{ appRequest.serverHost }}/app/preseed-late_command?clientHost={{ appRequest.clientHost }} | \
   chroot /target /bin/sh -s

