{%- set OS = clientConfig.clientConfig.get('OS') -%}
{%- set storage = clientConfig.clientConfig.get('storage') -%}
{%- set locales = clientConfig.clientConfig.get('locales') -%}
{%- set auth = clientConfig.clientConfig.get('auth') -%}
{%- set boot = clientConfig.clientConfig.get('boot') -%}
#!/bin/sh

perl -pi -e 's/^\s*#\s*PermitRootLogin\s+/PermitRootLogin /g' /etc/ssh/sshd_config
perl -pi -e 's/^\s*PermitRootLogin\s+.*$/PermitRootLogin yes/g' /etc/ssh/sshd_config

{% include storage.class + '.preseed.post.j2' %}


{%- if boot.useSerialConsole -%}
{%- set serialConsoleString = 'console=tty0 console=ttyS' + ((boot.serialConsolePort-1)|string) + ',' + (boot.serialConsolePortSpeed|string) + 'n8' -%}
#perl -pi -e 's/^\s*#\s*GRUB_TERMINAL\s*=/GRUB_TERMINAL=/g' /etc/default/grub
#perl -pi -e "s/^\s*GRUB_TERMINAL\s*=.*$/GRUB_TERMINAL='serial console'/g" /etc/default/grub

perl -pi -e 's/^\s*#\s*GRUB_CMDLINE_LINUX\s*=/GRUB_CMDLINE_LINUX=/g' /etc/default/grub
perl -pi -e "s/^\s*GRUB_CMDLINE_LINUX\s*=\s*[\'\"]+(.*)[\'\"]+.*$/GRUB_CMDLINE_LINUX='\$1 {{ serialConsoleString }}'/g" /etc/default/grub

update-grub
{% else -%}
{% set serialConsoleString = '' -%}                                                                                                      
{% endif -%}

