# partitioning
## partitioning
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm_write_new_label boolean true

## gpt
d-i partman/choose_label string gpt
d-i partman/default_label string gpt
d-i partman-basicfilesystems/choose_label string gpt
d-i partman-basicfilesystems/default_label string gpt
d-i partman-partitioning/choose_label string gpt
d-i partman-partitioning/default_label string gpt

## efi
d-i partman-efi/non_efi_system boolean true

## filesystem
d-i partman/default_filesystem string ext4

## md
d-i partman-md/device_remove_md boolean true
d-i partman-md/confirm boolean true
d-i partman-md/confirm_nochanges boolean true
d-i partman-md/confirm_nooverwrite boolean true

## crypto
d-i partman-crypto/passphrase password {{ auth.initialPw }}
d-i partman-crypto/passphrase-again password {{ auth.initialPw }}

d-i partman-crypto/confirm boolean true
d-i partman-crypto/confirm_nochanges boolean true
d-i partman-crypto/confirm_nooverwrite boolean true
d-i partman-auto-crypto/erase_disks boolean false


## lvm
d-i partman-auto/purge_lvm_from_device boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/device_remove_lvm_span boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-lvm/confirm_nochanges boolean true

## recipe
d-i partman-auto/method string crypto
d-i partman-auto-lvm/new_vg_name string system
d-i partman-auto/choose_recipe select boot-crypt-lvm

d-i partman-auto-lvm/guided_size string 25G


d-i partman/early_command string \
    DISK="`readlink -f {{ storage.installDisks[0].name }}`"; \
    test -z "$DISK" && DISK="specified_disk_was_wrong_failing"; \
    debconf-set partman-auto/disk "$DISK"; \
    debconf-set partman-auto/expert_recipe "\
    boot-crypt-lvm :: \
        1 1 1 free \
            \$gptonly{ } \
            \$primary{ } \
            \$defaultignore{ } \
            method{ biosgrub } . \
        2048 2048 2048 fat32 \
            \$gptonly{ } \
            \$primary{ } \
            \$defaultignore{ } \
            method{ efi } \
            format{ } . \
        2048 2048 2048 \$default_filesystem \
            \$gptonly{ } \
            \$primary{ } \
            \$defaultignore{ } \
            \$bootable{ } \
            method{ format } \
            format{ } use_filesystem{ } \$default_filesystem{ } \
            mountpoint{ /boot } . \
        2048 2048 2048 linux-swap \
            \$lvmok{ } \
            method{ swap } \
            format{ } . \
        20480 20480 20480 \$default_filesystem \
            \$lvmok{ } \
            method{ format } \
            format{ } use_filesystem{ } \$default_filesystem{ } \
            mountpoint{ / } ."


