{%- set installDisks = clientConfig.clientConfig.get('storage').get('installDisks') -%}
{%- set installDiskNames = installDisks|map(attribute='name')|list -%}
{%- set initialPw = clientConfig.clientConfig.get('auth').get('initialPw') -%}

# install disks are {{ installDiskNames|join(' ') }}
ignoredisk --only-use={{ installDiskNames|join(',') }}

part biosboot  --fstype=biosboot --size=1                                                                           --onpart={{ installDisks[0].get('name') }}{{ installDisks[0].get('partprefix') }}1
part /boot     --fstype=xfs      --fsoptions=rw,noatime,nodiratime,discard                                          --onpart={{ installDisks[0].get('name') }}{{ installDisks[0].get('partprefix') }}2
part /boot/efi --fstype=efi                                                                                         --onpart={{ installDisks[0].get('name') }}{{ installDisks[0].get('partprefix') }}3
part /         --fstype=xfs      --fsoptions=rw,noatime,nodiratime,discard --encrypted --passphrase={{ initialPw }} --onpart={{ installDisks[0].get('name') }}{{ installDisks[0].get('partprefix') }}4
