global
    #log 127.0.0.1 local2
    #user haproxy
    #group haproxy
    #chroot  /var/lib/haproxy
    #daemon
    #stats socket /var/lib/haproxy/stats level operator

defaults
    timeout connect 10s
    timeout client 30s
    timeout server 30s
    log global
    mode http
    option httplog
    option forwardfor
    maxconn 3000

listen stats
    bind :8080
    stats enable
    stats uri /monitor
    stats refresh 5s

frontend web
    bind :80
    #bind *:443 ssl crt /etc/ssl/certs/mysite.pem
    #http-request redirect scheme https unless { ssl_fc }
    use_backend app if { path_beg /app/ }
    use_backend repo if { path_beg /repo/ }
    default_backend app

backend app
    #balance roundrobin
    #cookie SERVERUSED insert indirect nocache
    #option httpchk HEAD /
    #default-server check maxconn 20
    #server app-ctr app-ctr:80 cookie app-ctr
    server app {{ env.get('HOSTNAME', 'app-pod') }}:8180

backend repo
    #balance roundrobin
    #cookie SERVERUSED insert indirect nocache
    #option httpchk HEAD /
    #default-server check maxconn 20
    #server repo {{ env.get('HOSTNAME', 'app-pod') }}:8180 cookie app-pod
    server repo {{ env.get('HOSTNAME', 'app-pod') }}:8280

